body {
	background-color: #eaeaea;
}

table > thead > tr {
	background-color: #adadad;
}

.modal-header {
	background-color: #cecece;
}

#buttons-parent {
	float: none;
	margin: 0 auto;
}

#buttons-parent > button {
	margin-right: 10;
}